html
  position relative
  min-height 100%
  -webkit-tap-highlight-color rgba(0, 0, 0, 0)

body
  margin-bottom 60px
  font normal $font-size-base/$line-height-base $font-family-base
  background $background-body
  color $text-color

::selection
  background #0784ad
  color #fff

::-moz-selection
  background #0784ad
  color #fff

a
  color $link-color

.container
  max-width 992px
  margin auto

.icon
  size(32px)
  transition .3s

.icon-link
  fill #d1d1d1

.burger
  fill #f88

  &:hover
    fill #4dd