{# mixin use(name)
  svg(class='icon ' + name, xmlns:xlink="http://www.w3.org/1999/xlink")
    use(xlink:href='#' + name)
#}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">

        <title>Template - {% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {# favicons #}
        <link href="img/favicon/android-chrome-144x144.png" rel="icon">
        <link href="img/favicon/android-chrome-192x192.png" rel="icon">
        <link href="img/favicon/apple-touch-icon-180x180.png" rel="icon">
        <link href="img/favicon/apple-touch-icon-152x152.png" rel="icon">
        <link href="img/favicon/apple-touch-icon-120x120.png" rel="icon">
        <link href="img/favicon/apple-touch-icon-76x76.png" rel="icon">
        <link href="img/favicon/apple-touch-icon-60x60.png" rel="icon">
        <link href="img/favicon/mslite-310x310.png" rel="icon">
        <link href="img/favicon/mslite-70x70.png" rel="icon">
        <link href="img/favicon/favicon-32x32.png" rel="icon">
        <link href="img/favicon/favicon.ico" type="image/vnd.microsoft.icon" rel="icon">

        <!-- rev-hash -->
        <link rel="stylesheet" href="css/style.css">
        <!-- end -->
        <script src="js/libs/modernizr-2.7.1.custom.min.js"></script>
        <script src="js/libs/require.js" data-main="js/app"></script>

        <!--[if lte IE 9]><script src='js/libs/respond.1.4.2.min.js'></script><![endif]-->
    </head>

    <body>
        <div style="height: 0; width: 0; position: absolute; visibility: hidden">
            {% include 'includes/sprites_svg.svg' %}
        </div>

        <!-- header -->
        {% include 'includes/header.twig' %}
        <!-- /header -->

        <!-- content -->
        <div class="content">
            {% block content %}{% endblock %}
        </div>
        <!-- /content -->

        <!-- footer -->
        {% include 'includes/footer.twig' %}
        <!-- /footer -->
    </body>
</html>