{% extends './tpl/base.twig' %}

{% block title %}UI page{% endblock %}

{% block content %}
  <div class="container">
    <h2>Headers</h2>
    <section class="ex-section">
      <h1>H1. Заголовок</h1>
      <h2>H2. Заголовок</h2>
      <h3>H3. Заголовок</h3>
      <h4>H4. Заголовок</h4>
      <h5>H5. Заголовок</h5>
      <h6>h6. Заголовок</h6>
    </section>

    <h2>Text</h2>
    <section class="ex-section typography">
      <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
      <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla.</p>
      <p><mark>Marked text</mark>, <del>Strikethrough text</del>, <u>Underlined text</u>, <small>Small text</small>, <strong>Bold text</strong>, <em>Italic text</em></p>

      <h3>Address</h3>
      <address>
        <strong>Twitter, Inc.</strong><br>
        1355 Market Street, Suite 900<br>
        San Francisco, CA 94103<br>
        <abbr title="Phone">P:</abbr> (123) 456-7890
      </address>

      <address>
        <strong>Full Name</strong><br>
        <a href="mailto:#">first.last@example.com</a>
      </address>

      <h3>Blockquote</h3>
      <blockquote>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      </blockquote>
    </section>

    <h2>Lists</h2>
    <section class="ex-section typography">
      <ul>
        <li>Пункт 1</li>
        <li>Пункт 2</li>
        <li>
          Пункт 3
          <ul>
            <li>Пункт 3.1</li>
            <li>Пункт 3.2</li>
            <li>Пункт 3.3</li>
            <li>Пункт 3.4</li>
            <li>Пункт 3.5</li>
            <li>Пункт 3.6</li>
          </ul>
        </li>
        <li>Пункт 4</li>
        <li>Пункт 5</li>
        <li>Пункт 6</li>
      </ul>

      <ol>
        <li>Пункт 1</li>
        <li>Пункт 2</li>
        <li>
          Пункт 3
          {#<ol>#}
            {#<li>Пункт 1</li>#}
            {#<li>Пункт 2</li>#}
            {#<li>Пункт 3</li>#}
            {#<li>Пункт 4</li>#}
            {#<li>Пункт 5</li>#}
            {#<li>Пункт 6</li>#}
          {#</ol>#}
        </li>
        <li>Пункт 4</li>
        <li>Пункт 5</li>
        <li>Пункт 6</li>
      </ol>

      <dl>
        <dt>Description lists</dt>
        <dd>A description list is perfect for defining terms.</dd>
        <dt>Euismod</dt>
        <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
        <dd>Donec id elit non mi porta gravida at eget metus.</dd>
        <dt>Malesuada porta</dt>
        <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
      </dl>
    </section>

    <h2>Tables</h2>
    <section class="ex-section typography">
      <table>
        <thead>
          <tr>
            <th>#</th>
            <th>Col 1</th>
            <th>Col 2</th>
            <th>Col 3</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Val 1</td>
            <td>Val 2</td>
            <td>Val 3</td>
          </tr>

          <tr>
            <td>2</td>
            <td>Val 1</td>
            <td>Val 2</td>
            <td>Val 3</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Val 1</td>
            <td>Val 2</td>
            <td>Val 3</td>
          </tr>
        </tbody>
        <tfoot>
        <tr>
          <td>-</td>
          <td>tfoot</td>
          <td>tfoot</td>
          <td>tfoot</td>
        </tr>
        </tfoot>
      </table>
    </section>
  </div>
{% endblock %}