{% extends './tpl/base.twig' %}

{% block title %}Index page{% endblock %}

{% block content %}
  <div class="container">
    <h2>Typography</h2>
    <section class="ex-section">
      <ul>
        {% for item in headers %}
          <li>ID = {{ item.id|e }}, NAME = {{ item.name|e }}</li>
        {% else %}
          <li><em>no user found</em></li>
        {% endfor %}


      </ul>
      <br>
      <br>
      <br>
      <br>
      <br>
      <h1>H1. Заголовок</h1>
      <h2>H2. Заголовок</h2>
      <h3>H3. Заголовок</h3>
      <h4>H4. Заголовок</h4>
      <h5>H5. Заголовок</h5>
      <h6>h6. Заголовок</h6>
    </section>
  </div>
{% endblock %}